.container {
  margin-top: 30px;
  /* background-image:linear-gradient(to top left,rgb(177, 24, 182),red); */
}

.list-group-item{
  background-image:linear-gradient(to bottom right,red,rgb(177, 24, 182));
  border-color: purple;
}